{% extends "base.html" %}

{% block content %}
<h1>
    Add Post
</h1>

<form role="form" method="POST">
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" id="title" name="title" placeholder="Post title" required>
    </div>
    <div class="form-group" style="margin-top: 1em">
        <label for="content">Content</label>
        <textarea class="form-control" id="content" name="content" placeholder="Post content" cols="100" rows="20" required></textarea>
    </div>
    <button type="submit" class="btn btn-default" style="margin-top: 2em">Submit</button> <a href="{{ url_for('posts')}}" class="button"><button>Cancel</button></a>

</form>
{% endblock %}